@charset "-UF8";
        body{
            background-color: rgb(242, 255, 127);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
        }

        h1{
            color: rgb(131, 11, 243);
            background-color: rgb(205, 214, 126);
            text-align: center;
        }

        h2{
            color: rgb(107, 211, 81);
        }

        p{
            text-align: justify;
        }